.login-button.hidden{
    display:none;
}
@media (max-width: 768px){
    #main-title{
    font-size: 22px;
    }
    #toast{
    font-size: 11px;
    bottom:72.5%;
    }
    a.t {
    font-size:11px
    }
}
a.t {
    color:black;
    text-decoration: none;
}
a.t:hover{
    text-decoration: underline;
}
.avatar-frame {
border-radius: 50%;
object-fit: cover;
border: 3px solid transparent;
}
.vip {
    color:#1976d2
}
body.dark-mode .vip {
    color:#ffa500;
}

.vip-frame-0 { border-color: gray; }
.vip-frame-1 { border-color: #ffeb3b; box-shadow: 0 0 6px #ffeb3b}
.vip-frame-2 { border-color: #ffc107; box-shadow: 0 0 8px #ffc107 }
.vip-frame-3 { border-color: gold; box-shadow: 0 0 10px gold }
.vip-frame-4 { border-color: #ff1744;box-shadow: 0 0 12px #ff1744 }
.vip-frame-5 { border-color: #2979ff; box-shadow: 0 0 12px #2979ff ;animation: glow-vip5 2.5s infinite;}
.vip-frame-6 { border-color: #ec407a;box-shadow: 0 0 12px #ec407a ;animation: glow-vip6 2.5s infinite;}
.vip-frame-7 { border-color: #b2ebf2; box-shadow: 0 0 12px #b2ebf2 ;animation: glow-vip7 2.5s infinite;}
.vip-frame-8 { border-color: #00e5ff; box-shadow: 0 0 12px #00e5ff ;animation: glow-vip8 2.5s infinite;}
.legendary-frame {
    border-color: 		#B0F1FF;
    box-shadow: 0 0 25px 	#B0F1FF;
    animation: glow-pulse 2.5s infinite
}
body.dark-mode .legendary-frame {
    border-color: #ffffff;
    box-shadow: 0 0 25px #ffffff;
    animation: glow-pulse1 2.5s infinite;
    
}
@keyframes glow-vip5 {
    0% { box-shadow: 0 0 7px #2979ff; }
    50% { box-shadow: 0 0 21px #2979ff; }
    100% { box-shadow: 0 0 7px #2979ff; }
}
@keyframes glow-vip6 {
    0% { box-shadow: 0 0 9px #ec407a; }
    50% { box-shadow: 0 0 24px #ec407a; }
    100% { box-shadow: 0 0 9px #ec407a; }
}
@keyframes glow-vip7 {
    0% { box-shadow: 0 0 10px #b2ebf2; }
    50% { box-shadow: 0 0 28px #b2ebf2; }
    100% { box-shadow: 0 0 10px #b2ebf2; }
}
@keyframes glow-vip8 {
    0% { box-shadow: 0 0 10px #00e5ff; }
    50% { box-shadow: 0 0 32px #00e5ff; }
    100% { box-shadow: 0 0 10px #00e5ff; }
}

@keyframes glow-pulse {
    0% {
    transform: scale(1);
    box-shadow:0 0 15px #00e5ff
    }
    50% {
    transform: scale(1.03);
    box-shadow:0 0 45px #00e5ff
    }
    100% {
    transform: scale(1);
    box-shadow:0 0 15px #00e5ff
    }
}
@keyframes glow-pulse1 {
    0% {
    transform: scale(1);
    box-shadow: 0 0 15px #ffffff;
    }
    50% {
    transform: scale(1.03);
    box-shadow: 0 0 35px #ffffff;
    }
    100% {
    transform: scale(1);
    box-shadow: 0 0 15px #ffffff;
    }
}
.badge {
    display: inline-block;
    background: linear-gradient(to right, #ffcc00, #ff9900);
    color: white;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 13px;
    margin: 3px;
    box-shadow: 0 2px 15px rgba(255,165,0,0.5);
}
@media (max-width: 768px){
    .nut button{
    font-size:9px !important;
    }
    .info img{
    width: 50px !important;
    height: 50px !important;
    }
    .info span{
    font-size:9px;
    }
    .userz {
    font-size:11px !important;
    }
    .badge {
    font-size:8px  !important;
    }
    #login-btn{
    font-size:11px;
    }
}